@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 375px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    background: #F3F3F3;

}

.top, .bottom {
    position: fixed;
    z-index: 1;
    left: 0;

    width: 100%;
    height: 80px;
    padding: 0 21px;
    background: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.top ion-icon {
    font-size: 45px;
}

.bottom {
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.bottom ion-icon {
    font-size: 26px;
}

#textInputAdd {
    position: relative;
    top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
    color: #505050;
}

.box-msg {
    margin-top: 100px;
    margin-bottom: 90px;
    width: 100%;
}

.msg {
    width: 100%;
    min-height: 40px;
    margin: 6px 0px;
    border-radius: 2px;

    display: flex;
    align-items: center;
}

.message {
    background: #FFFFFF;
}

.status {
    background: #DCDCDC;
}

.private_message {
    background: #FFDEDE;
}

.msg-hour {
    color: #AAAAAA;
}

.msg p {
    padding: 10px 8px;
}

input[type='text'], input:focus {
    width: 97%;
    height: 50%;
    font-style: italic;
    font-size: 18px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: #000000;
    
}

button {
    border: 0px;
    background: #FFFFFF;
    cursor: pointer;

}

.screen-dark {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 667px;

    background: rgba(0, 0, 0, 0.6);

    overflow: hidden;
    max-width: 100%;
    transition: max-width 1s ease-in-out;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 80%;
    height: 1000px;
    background-color: #FFFFFF;

    overflow: hidden;
    max-width: 80%;
    transition: max-width 1s ease-in-out;
}
.menu h1 {
    padding: 0 100px;
    margin: 25px 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.options {
    line-height: 8px;
    font-size: 16px;
}

.options div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.options div div {
    margin: 0 0;
}

.options div div ion-icon {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 20px;
}

.hide {
    max-width: 0;
    pointer-events: none;
}

.display-on {
    display: flex;
    align-items: center;
}

.green {
    color: #28BB25;
    font-size: 20px;
    margin: 0 10px;
    display: none;
}

.selecionado {
    display: initial;
}

.stop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.login img {
    position: absolute;
    top: 15%;
    left: center;
    height: 92px;
    width: 130px;
}

.login input {
    width: 261px;
    height: 54px;
    text-align: center;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

    margin: 20px;
}

.login button {
    width: 109px;
    height: 45px;

    background-color: black;
    background: #E7E7E7;
    border-radius: 9px;
}

.login ::-webkit-input-placeholder  { 
    text-align: center;     
}

.in-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}