@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #F3F3F3;
    width: 375px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

button {
    background: #FFFFFF;
    border: 0px;
    cursor: pointer;
}

b { font-weight: 700; }

.c-login {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;

    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

.c-login__logo {
    position: absolute;
    left: center;
    top: 15%;

    height: 92px;
    width: 130px;
}

.c-login__loader { width: 70px; }

.c-login__input {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin: 20px;
    height: 54px;
    width: 261px;

    font-size: 18px;
    text-align: center;
}

.c-login ::-webkit-input-placeholder { text-align: center; }

.c-login__button {
    background-color: black;
    background: #E7E7E7;
    border-radius: 9px;
    height: 45px;
    width: 109px;
}

.c-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-color: #FFFFFF;
    height: 1000px;
    width: 80%;
    max-width: 80%;

    transition: max-width 1s ease-in-out;
    overflow: hidden;
}

.c-menu__dark-bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    background: rgba(0, 0, 0, 0.6);
    height: 667px;
    width: 100%;
    max-width: 100%;

    transition: max-width 1s ease-in-out;
    overflow: hidden;
}

.c-menu h1 {
    margin: 25px 0;
    padding: 0 100px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.c-menu__selection {
    font-size: 16px;
    line-height: 8px;
}

.c-menu__selection div {
    margin: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-menu__selection div div { margin: 0 0; }

.c-menu__selection div div ion-icon {
    margin-left: 10px;
    margin-right: 20px;

    font-size: 25px;
}

.c-menu__icon {
    color: #28BB25;
    margin: 0 10px;

    font-size: 20px;
}

.c-screen__top, .c-screen__bottom  {
    position: fixed;
    left: 0;
    z-index: 1;

    background: #FFFFFF;
    height: 80px;
    padding: 0 21px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-screen__top {
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.c-screen__bottom  {
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.c-screen__top ion-icon { font-size: 45px; }


.c-screen__bottom ion-icon { font-size: 26px; }

.c-screen__chat {
    margin-bottom: 90px;
    margin-top: 100px;
    width: 100%;
}

.c-screen__message {
    border-radius: 2px;
    margin: 6px 0px;
    min-height: 40px;
    width: 100%;

    display: flex;
    align-items: center;
}

.c-screen__message p {
    padding: 10px 8px;
    width: 375px;

    word-wrap: break-word;
}

.c-screen__hour { color: #AAAAAA; }

.c-screen__input-value {
    position: relative;
    top: 10px;
    
    color: #505050;

    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    pointer-events: none;
}

.c-screen_input[type='text'], input:focus {
    height: 50%;
    width: 97%;
    
    box-shadow: 0 0 0 0;
    border: 0 none;
    color: #000000;
    outline: 0;
    
    font-size: 18px;
    font-style: italic;
}

.u-total-centralized {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.u-message { background: #FFFFFF; }

.u-private_message { background: #FFDEDE; }

.u-status { background: #DCDCDC; }

.is-freezed {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;
    
    overflow: hidden;
}

.is-hidden { display: none; }

.is-selected { display: initial !important; }

.is-shrunken { max-width: 0; }