@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 375px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    background: #F3F3F3;

}

.top, .bottom {
    position: fixed;
    left: 0;

    width: 100%;
    height: 80px;
    padding: 0 21px;
    background: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.top ion-icon {
    font-size: 45px;
}

.bottom {
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.bottom ion-icon {
    font-size: 26px;
}

.box-msg {
    margin-top: 100px;
    margin-bottom: 90px;
    width: 100%;
}

.msg {
    width: 100%;
    min-height: 40px;
    margin: 6px 0px;
    border-radius: 2px;

    display: flex;
    align-items: center;
}

.message {
    background: #FFFFFF;
}

.status {
    background: #DCDCDC;
}

.private_message {
    background: #FFDEDE;
}

.msg-hour {
    color: #AAAAAA;
}

.msg p {
    padding: 10px 8px;
}

input[type='text'], input:focus {
    width: 97%;
    height: 50%;
    font-style: italic;
    font-size: 18px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

button {
    border: 0px;
    background: #FFFFFF;
    cursor: pointer;

}